<!DOCTYPE html>
<html ng-app="HelloWoldapp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>test</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
      <script>
       var model = "Hello world";
       
       var HelloWoldapp = angular.module("HelloWoldapp",[]);
           HelloWoldapp.controller("HelloWoldCtrl", function ($scope){
                              $scope.message = model;
                          
						  $scope.clickHandler = function(){
						    $scope.message=$scope.txt;
						  }
						});  
</script>


  </head>
 <body ng-controller="HelloWoldCtrl">
 
 <h1>{{message}}</h1>
 <input ng-model="text"/>
 <button ng-click="clickHandler()">Обновить</button>
   
  </body>
</html>